.carousel{
	padding: 0;
}

#sobreNosotros{
	color: #444;
}

#primeredif{
	width: 300px;
	margin: 10px;
}

#tablist{
	margin-top: 10px;
}

#btnSubmit{
	background-color: #F5842B;
	border-color: black;
}

/* button stuff */



